<h1> Welcome to Live String, <%= @user.name %></h1>
<hr>
<p>You've successfully signed up to LIVE STRING,
  Your Username is :<%= @user.name %>.<br> 
</p>
<p>We're Happy to Have You By Our Side</p>   
